html.dark {
  background-color: rgb(33, 44, 53);
}
.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  color: #fff;
}
.right1-logo {
  position: absolute;
  height: 15rem;
  width: 15rem;
  top: 22px;
  right: 10px;
  z-index: 100;
}
.right2-logo {
  position: absolute;
  height: 15rem;
  width: 15rem;
  top: 22px;
  right: 10px;
  z-index: 100;
}
.left2-logo {
  position: absolute;
  height: 6rem;
  width: 6rem;
  top: 16px;
  left: 16px;
  z-index: 100;
}
.left1-logo {
  position: absolute;
  height: 6rem;
  width: 6rem;
  top: 16px;
  left: 16px;
  z-index: 100;
}
